/* styles.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Dropdown styles */
.dash-dropdown {
    width: 200px;
    margin-bottom: 10px;
}

/* Plot styles */
.plot {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* styles.css */

/* Option A styles */
.option-a .dash-dropdown {
    background-color: lightblue;
    color: white;
}

.option-a .dash-dropdown:hover {
    background-color: skyblue;
}

/* Option B styles */
.option-b .dash-dropdown {
    background-color: lightgreen;
    color: white;
}

.option-b .dash-dropdown:hover {
    background-color: lightgreen;
}

/* Option C styles */
.option-c .dash-dropdown {
    background-color: lightcoral;
    color: white;
}